body{
    font-family: monospace;

}



.card{
    width: 360px;
    height: 360px;
    background: #000;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    margin: 10% auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.card span{
    height:100%;
    left:0;
    background: url(poorbot.jpg);
    position: absolute;
  transition: 1s; /*this will delay img when going down*/
}
.card span:nth-child(1){
    z-index: 10;
    width: 25%;
    transition-delay: 0;
}
.card span:nth-child(2){
    z-index: 9;
    width: 50%;
    transition-delay: 0.3s;
}
.card span:nth-child(3){
    z-index: 8;
    width: 75%;
    transition-delay: 0.6s;
}
.card span:nth-child(4){
    z-index: 7;
    width: 100%;
    transition-delay: 0.8s;
}

.card:hover span{
    transform: translateY(-100%);
    transition: 1s;
}
.card:hover span:nth-child(1){
    transform: translateY(-100%);
    transition-delay: 0.8s;
}
.card:hover span:nth-child(2){
    transform: translateY(-100%);
    transition-delay: 0.6s;
}
.card:hover span:nth-child(3){
    transform: translateY(-100%);
    transition-delay: 0.3s;
}
.card:hover span:nth-child(4){
    transform: translateY(-100%);
    transition-delay: 0s;
}

.content{
    color:#fff;
    text-align: center;
    padding: 80px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateY(100%);/*this will move the content acording to the img movement part one*/
    transition: 2s;      
}

.content p{
    color: #999;
}

.content a{
   width: 100px;
   text-decoration:none; 
   border-radius: 50px;
   border: 1px solid #fff;
display: block;
margin: auto;
padding: 10px;
columns: #fff;
}

.card:hover .content{
    transform: translateY(0%); /* this the second pard of the content movment*/
}